{% extends 'base.html' %} {% block body%}

<div class="prot">DEVELOPERS</div>
<!--Parent div-->
<div style="text-align:centre; margin-top:100px;margin-bottom:100px;">

    <!--Information of Azad-->
    <div class="card-container" style="margin: 0 auto;">
        <span class="pro">DEVELOPER 1</span>
        <img class="round" src="https://icon-library.net/images/young-person-icon/young-person-icon-7.jpg" alt="user" style="height:100px; width:100px; color:white;" />
        <h3>Md. Ali Azad</h3>
        <h6>Dept. of CSE</h6>
        <p>
            Reg.Id: 2015331538 <br /> 9th Batch, CSE <br/> Front-end and Back-end developer
        </p>
        <div class="buttons">
            <button class="primary" style="cursor:pointer;">
            E-Mail
        </button>
            <button class="primary ghost" style="cursor:pointer;">
            Follow on
        </button>
        </div>
        <div class="skills">
            <h6>Contact</h6>
            <ul>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            </ul>
        </div>
    </div>



    <!--Information of Sushil-->
    <div class="card-container" style="margin: 0 auto; margin-top: 20px;">
        <span class="pro">DEVELOPER 2</span>
        <img class="round" src="https://icon-library.net/images/young-person-icon/young-person-icon-7.jpg" alt="user" style="height:100px; width:100px; color:white;" />
        <h3>Hijam Sushil Singha</h3>
        <h6>Dept. of CSE</h6>
        <p>
            Reg.Id: 2015331560 <br /> 9th Batch, CSE <br/> Front-end developer
        </p>
        <div class="buttons">
            <button class="primary" style="cursor:pointer;">
            E-Mail
        </button>
            <button class="primary ghost" style="cursor:pointer;">
            Follow on
        </button>
        </div>
        <div class="skills">
            <h6>Contact</h6>
            <ul>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            </ul>
        </div>
    </div>



</div>
<!--Parent div end here-->


{% endblock%}