{% extends 'base.html' %} {% block title %}SEC LMS(About Project){% endblock %} {% block body%}
<div style="margin-top:100px;">
    <div class="card">
        <h2><i class="fa fa-clipboard"></i> Overview of the Project </h2>
        <p>
            The project title 'SEClms' is the abbreviation of 'Library Management System of Sylhet Engineering College'. It is an Web application which is made for the students and the Librarian of the Sylhet Engineering College. The project 'SEClms' is developed
            in python based on python Framework 'django', which mainly focuses on basic operations in a library.Here, Librarian and Students can search for the books, students, borrow information’s and can search for the today , delay and upcoming 7 days
            borrow information with the help of dynamic live search which is built with 'ajax'. The librarian can monitoring and controlling the transactions in a library. In Home view of the web app student can see that those who have to return books
            today , the upcoming 7 days return list and the fine for the students those who delayed to return the books. we can say that, the 'SEClms' is a live web app for the students and librarian. This web app provides facilities for not only the
            librarian but also for the students.
        </p>
    </div>


    <div class="card">
        <h2><i class="fa fa-file-text"></i> Facilities for the Librarian</h2>
        <p><i class="fas fa-angle-double-right"></i> Adding new books information.</p>
        <p><i class="fas fa-angle-double-right"></i> Adding new students in the library.</p>
        <p><i class="fas fa-angle-double-right"></i> Adding books type, shelf position and room numbers for the new insertion books.</p>
        <p><i class="fas fa-angle-double-right"></i> Searching in insertion form for giving books to students. As, there are so many students and books , the librarian need to find out those who want to borrow books in a dynamically way.</p>
        <p><i class="fas fa-angle-double-right"></i> Setting the fine for those who delay to return the books in time and can change the fine amount.</p>
        <p><i class="fas fa-angle-double-right"></i> Searching in today returnlist , delay list and upcoming 7 days list. Librarian can easily find out whether a student is in fine list or not by live searching.</p>
        <p><i class="fas fa-angle-double-right"></i> Automatic books quantity update when a book received or giving to a student.</p>
        <p><i class="fas fa-angle-double-right"></i> Post a news in the news section.</p>
        <p><i class="fas fa-angle-double-right"></i> Activity history for the librarian.</p>
        <p><i class="fas fa-angle-double-right"></i>Theme changing for the web app.</p>

        <h2><i class="fa fa-file-text"></i> Facilities for the Students</h2>
        <p><i class="fas fa-angle-double-right"></i> Students can see the today return list, delay list and upcoming 7 days list and also the information of books and students in the list by clicking on the student id or book name.</p>
        <p><i class="fas fa-angle-double-right"></i> Studnets can Search the today return list , delay list and upcoming 7 days list and also the information of books and students in the list by clicking on the student id or books name. He/She can find out
            whether He/She in the delay list or not.
        </p>
        <p><i class="fas fa-angle-double-right"></i> Students can see their fine for delaying of returning a books in time.</p>
        <p><i class="fas fa-angle-double-right"></i> Students can search a books and see the details of the books whether the book is available in the library or not.The quantity of each book refers the availability of book.</p>
        <p><i class="fas fa-angle-double-right"></i> Students can search themselves in student list and can see whether they are registered by the Librarian or not.</p>
        <p><i class="fas fa-angle-double-right"></i> Students can search in whole borrow list and can see when they borrow books and also how much time is remained to return this books.</p>
        <p><i class="fas fa-angle-double-right"></i> Students can discuss with librarian and also with others in an open discussion. </p>
        <p><i class="fas fa-angle-double-right"></i> Students can see the news of librarian and can share their opinions.</p>
    </div>

</div>



{% endblock%}