{% extends 'base.html' %}
{% block body%} 
<div id="hcontainer">

    <div id="return" style="margin-top: 100px;">
    <h2>Today Returns ({{tcount}})</h2>
    {% if tcount > 0 %}
    <table class="table table-hover table-bordered">  
        <thead>  
        <tr>  
            <th scope="col">Student ID</th>  
            <th scope="col">Student Name</th>  
            <th scope="col">Book Name</th>  
            <th scope="col">Borrow Date</th>
            <th scope="col">Return date</th>
        </tr>  
        </thead>
        <tbody>  
    {% for t in today %} 
    
        <tr>  
            <td>
                {% for slist in slist %}
                        {% if slist.sid in t.brsid %}
                <a href="/viewsforall/studetails/{{ slist.id }}/">{{ t.brsid }}</a>
                        {% endif %}
                    {% endfor%}
            </td>  
            <td>{{ t.brsname }}</td>  
            <td>
                    {% for blist in blist %}
                        {% if blist.bname in t.brbname %}
                <a href="/viewsforall/booksdetails/{{ blist.id }}/">{{ t.brbname }}</a>
                        {% endif %}
                    {% endfor%}
            </td>   
            <td>{{ t.brdate }}</td>
            <td>{{ t.brreturn }}</td> 
            <!--<td>{{ employee.created_at|timesince|add:"2" }}</td>-->
            <!--<td>{{ employee.created_at|timeuntil }}</td>--> 
        </tr>  
    {% endfor %}  
        </tbody>  
    </table>
    {% else %}
    <p>No result to show ...</p>
    {% endif %}
    </div>

    <div id="delay">
    <h2>Delay List ({{dcount}}) </h2>
    {% if dcount > 0 %}
    <table class="table table-hover table-bordered">  
        <thead>  
        <tr>  
            <th scope="col">Student ID</th>  
            <th scope="col">Student Name</th>  
            <th scope="col">Book Name</th>  
            <th scope="col">Borrow Date</th>
            <th scope="col">Return date</th>
            <th scope="col">Fine</th>
        </tr>  
        </thead>  
        <tbody>  
    {% for f in flist %} 
    
        <tr>  
            <td>
                {% for slist in slist %}
                        {% if slist.sid in f.brsid %}
                <a href="/viewsforall/studetails/{{ slist.id }}/">{{ f.brsid }}</a>
                        {% endif %}
                    {% endfor%}
            </td>  
            <td>{{ f.brsname }}</td>   
            <td>
                    {% for blist in blist %}
                        {% if blist.bname in f.brbname %}
                <a href="/viewsforall/booksdetails/{{ blist.id }}/">{{ f.brbname }}</a>
                        {% endif %}
                    {% endfor%}
            </td>   
            <td>{{ f.brdate }}</td>
            <td>{{ f.brreturn }}</td>  
            <td class="btn btn-danger">{{ f.finecal}} <a>tk</a></td>
            <!--<td>{{ employee.created_at|timesince|add:"2" }}</td>-->
            <!--<td>{{ employee.created_at|timeuntil }}</td>--> 
        </tr>  
    {% endfor %}  
        </tbody>  
    </table>
    {% else %}
    <p>No result to show</p>
    {% endif %}
    </div>

    <div id="upcoming">
        <h2>Upcoming Week List ({{ucount}}) </h2>
        {% if dcount > 0 %}
        <table class="table table-hover table-bordered">  
            <thead>  
            <tr>  
                <th scope="col">Student ID</th>  
                <th scope="col">Student Name</th>  
                <th scope="col">Book Name</th>  
                <th scope="col">Borrow Date</th>
                <th scope="col">Return date</th>
            </tr>  
            </thead>  
            <tbody>  
        {% for u in upcoming %} 
        
            <tr>  
                <td>
                    {% for slist in slist %}
                            {% if slist.sid in u.brsid %}
                    <a href="/viewsforall/studetails/{{ slist.id }}/">{{ u.brsid }}</a>
                            {% endif %}
                        {% endfor%}
                </td>  
                <td>{{ u.brsname }}</td> 
                <td>
                        {% for blist in blist %}
                            {% if blist.bname in u.brbname %}
                    <a href="/viewsforall/booksdetails/{{ blist.id }}/">{{ u.brbname }}</a>
                            {% endif %}
                        {% endfor%}
                </td>   
                <td>{{ u.brdate }}</td>
                <td>{{ u.brreturn }}</td>  
            </tr>  
        {% endfor %}  
            </tbody>  
        </table>
        {% else %}
        <p>No result to show</p>
        {% endif %}
        </div>

</div> 
{% endblock%} 