<div id="result" style="overflow-y:scroll;height:100%;background-color:rgb(35, 38, 43);color:white;">
    {% if slist.count > 0 %}
    <script>
        var hh = document.querySelector('#matching_info_s');
        hh.style.height = '70%';
    </script>
    <h5>The Id or Name available<br>in your data base</h5>
    <p>&nbsp;<i class="fa fa-search-plus"></i> Showing {{slist.count}} results....</p>
    <table class="table table-hover table-bordered table-dark" style="margin: 0%;">
        <thead>
            <tr>
                <th scope="col">Student ID</th>
                <th scope="col">Student Name</th>
            </tr>
        </thead>
        <tbody>
            {% for slist in slist %}

            <tr>
                <td>{{ slist.sid }}</td>
                <td>{{ slist.sname }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <script>
        hh.style.height = '50px';
    </script>
    <table class="table table-hover table-bordered table-dark" style="margin: 0%;">
        <thead>
            <tr>
                <th scope="col">
                    <h5>&nbsp;<i class="fa fa-check" style="font-size: 130%;"></i> It is a new Id or Name</h5>
                </th>
            </tr>
        </thead>
    </table>
    {% endif %}
</div>